/* Ian Thompson */
body {
    margin: 0;
    background: rgb(219, 133, 4);
    text-align: center;
	font: 100% georgia, sans-serif;
}
h1 {
    font: bold;
    font-size: xx-large;
    color: blue;
}
.forms {
    background:rgb(4, 219, 22);
}
.italic {
    font: italic normal 1.4em verdana;
}
.list {
    display: inline-block;

}
.warning {
    color: red;
    background-color: blue;
}

/* Dropdown Button */
/* from W3 Schools, editted to look better */
.dropbtn {
    background-color: #4403da;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 22px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    max-height: 150px;
    overflow: auto;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}